html, input{
    font-size: 24px;
    font-family: "Space Mono", monospace;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  min-height: 100vh;
  background-color: hsl(185, 41%, 84%);
}
main{
  background-color: hsl(0, 100%, 100%);
  padding: 1.5rem;
  
  display: grid;
  gap: 1.5rem;
  border-radius: 1rem;
}
svg{
  position: absolute;
  top: 30%;
  left: 0.5rem;
  z-index: 10;
  display: inline-block;
}
input{
    padding: 5px;
    text-align: end;
    background-color: hsl(189, 47%, 97%);
    /* border: none; */
    font-weight: 600;
    border: solid 2px white;
    color: hsl(183, 100%, 15%);
    border-radius: 5px;
    width: 100%;
}
input:hover{
  cursor: pointer;
  border: solid 2px hsl(172, 81%, 65%);
  /* border-radius: 5px; */
}
input:focus{
  border: solid 2px hsl(172, 81%, 65%);
  outline: none;
  
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 3px;
}
/* input:not([type='checkbox']) {    
    visibility: hidden;
} */
#bill-info{
  display: grid;
  gap:  1.5rem;
}
.down-line{
  display: grid;
  gap: 0.6rem;
}
label{
  padding: 5px;
  font-size: 0.65rem;
  font-weight: 600;
  color: hsl(186, 14%, 43%);
  
}
/* .custom-select { */
  /* position: relative; */
  /* display: inline-block; */
  /* width: 200px; */
/* } */
#tip {
  display: none;
  /* width: 100%; */
  /* padding: 6px; */
  /* cursor: pointer; */
}
.options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
  /* position: absolute; */
  width: 100%;
  /* border: 1px solid #ccc; */
  /* background: white; */
  /* z-index: 10; */
}
.options p{
  background-color: hsl(183, 100%, 15%);
  color: white;
  text-align: center;
  margin: 0;
  padding: 5px;
  border-radius: 6px;
  font-weight: 600;
  /* padding: 6px; */
  cursor: pointer;
}
.options p:hover {
  background: hsl(172, 81%, 65%);
  color: hsl(183, 100%, 15%);
}
.chosen{
  background-color: hsl(172, 67%, 45%) !important;
  color: hsl(183, 100%, 15%) !important;
}

.custom-input{
  /* width: 100%; */
  /* border: none; */
  padding: 5px;
  width: 6rem;
  border-radius: 6px;
  
}
.with-arlet{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#arlet{
  color: red;
  font-size: 0.65rem;
  font-weight: 600;
  padding: 5px;
  margin: 0;
}
.input-arlet{
  border-color: red;
}
.hid{
  display: none;
}
#result{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: hsl(183, 100%, 15%);
  padding: 1rem;
  border-radius: 0.5rem;
}
#btn-reset{
  width: 100%;
  font-size: 20px;
  font-family: "Space Mono", monospace;
  border-radius: 0.2rem;
  border: none;
  font-weight: 600;
  color: hsl(183, 100%, 15%);
  background-color: hsl(172, 67%, 45%);
  padding: 0.4rem;

}
#btn-reset:hover{
  cursor: pointer;
  background-color: hsl(172, 81%, 65%);
}
#btn-reset:disabled{
  background-color: hsl(183, 98%, 21%);
}
table{
  width: 100%;
}
table p{
  margin: 0 6px;
}
.up{
  color: white;
  font-size: 0.65rem;
  font-weight: 600;
}
.down{
  color: hsl(184, 14%, 56%);
  font-size: 0.5rem;
  font-weight: 600;
  
}
.num{
  color: hsl(172, 67%, 45%);
  font-weight: 600;
  font-size: 1.5rem;
  text-align: end;
  margin: 0.5rem;
}
@media (min-width:900px){
  main{
    grid-template-columns: 1fr 1fr;
  }
  .options{
    grid-template-columns: 1fr 1fr 1fr;
  }
  .custom-input{
    width: 4.5rem;
  }
}